@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*css for body on all pages*/
body {
    padding-top: 120px;
    padding:65px;
    margin: 100px;
    font-family: Arial, sans-serif;
    /* height: 100vh; */
    max-width: 100vw;
}
/*z index reference: https://www.w3.org/TR/CSS2/visuren.html#z-index -Allison */
/*Nav bar padding reference: https://forum.freecodecamp.org/t/bootstrap-navbar-padding/246529 -Allison*/
/*To give header section a good looking links for all pages URL from https://youtu.be/yQimoqo0-7g you tube video- Mansi */
nav {
    border-bottom: 2px solid mintcream;
    background-color: rgb(189, 247, 218);
    box-shadow: 2px 2px 2px 1px rgba(7, 7, 7, 0.2);
    padding-bottom: 10%;
    z-index:1;
    display: flex;
    justify-content: space-between;x
    padding-right: 1rem;
    position: static;
    width: 100%;
}

/*logo arrangement on header section and to reduce is size*/
.logo {
    width: 5rem;
    height: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
/*Flex property to arrange the sections horizontally https://www.w3schools.com/css/css3_flexbox.asp- Mansi*/
.nav-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*css for navigation*/
.nav-btn {
    padding: 5px 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
}
/*Hover effects for pages links*/
.nav-btn:hover, .nav-btn:focus {
    background-color: gray;
}

/*For media results(for responsive design) https://www.w3schools.com/css/css_rwd_mediaqueries.asp*- Mansi*/
@media (min-width: 650px) {
    .nav-btn {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .logo{
        padding-top: 0;
    }
}

/*For backgroung image: https://www.w3schools.com/howto/howto_css_full_page.asp 
and for css https://www.w3schools.com/cssref/pr_background-image.asp* It aligns the image for the whole division- Mansi*/
.home-container {
    background-image: url('../images/background.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    background-size: cover;
}
/*Heading and paragraph to be on left side so that it does not collide with white part of background image*/
.home-heading {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
    color:white;
}
.home-para {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
    color:white;
}
/*css for About Us, Our Works, and Softwares we use parts- Mansi*/
.about-container, .work-container, .software-container {
    background-color: mintcream;
    color: black;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
/*Give color and borders to headings of About Us, Our Works, and Softwares we use parts*/
.about-heading, .work-heading, .software-heading {
    margin: 1rem 2rem;
    background-color: rgb(198, 243, 220);
    text-align: center;
    border-bottom: 2px solid rgba(5, 29, 17, 0.212);
    border-top: 2px solid rgba(5, 29, 17, 0.212) ;
    padding: 1rem;
}
/*To show all objects of About Us, Our Works, and Softwares we use in one line with spacing in between and on sides
https://stackoverflow.com/questions/4550013/html-element-display-in-horizontal-line/4550403.*/
.about-card-container, .work-card-container, .software-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/*css property for each image or object of About Us, Our Works, and Softwares parts
border for each image*/
.about-card, .work-card, .software-card {
    margin-top: 2rem;
    border: 2px solid rgb(6, 15, 11);
    padding: 0;
    border-radius: 7px;
}

/*Though images are resized still css used to show all images of same size for better alignment*/
.about-card img, .work-card img {
    max-width: 60vw;
    width: 250px;
    height: 200px;
    border-bottom: 2px solid mintcream;
}

.software-card img{
    max-width: 60vw;
    width: 150px;
    height: 150px;
    border-bottom: 2px solid mintcream;
}

/*css for description of all small images*/
.about-card h3, .work-card h3 ,.software-card h3{
    text-align: center;
    margin-top: 10px;
}

.work-card {
    margin: 2rem 1rem;
}

nav
{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      transition: all 0.4s ease;

}

nav.sticky
{
      padding: 15px 20px;
      background: #3b3e46;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
 }

  nav .nav-content
  {
      height: 100%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  nav .logo a{
        font-weight: 500;
        font-size: 35px;
        color: #fff;
        transition: all 0.3s ease;
  }

  nav .logo a:hover
  {
      letter-spacing: 4px;
  }
  .home
  {
      height: 100vh;
      width: 100%;
      background: url(images/background.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family:  Arial, sans-serif;
  }

  nav.sticky .logo a{
      color: #fff;
  }



  .nav-content .nav-links
  {
      display: flex;
  }

  .nav-content .nav-links li{
      list-style: none;
      margin: 08px;
  }

  .nav-links li a{
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      padding: 10px;
      transition: all 0.3s ease;
  }

  .nav-links li a:hover
  {
      color: #ffbf00;
      letter-spacing: 4px;
  }

  nav.sticky .nav-links li a
  {
      color: #fff;
      transition: all 0.4s ease;
  }

  nav.sticky .nav-links li a:hover
  {
    color: #ffbf00;
    letter-spacing: 4px;
  }

  .text
  {
      text-align: center;
      padding: 40px 80px;
      box-shadow: -5px 0 10px rgba(0,0,0,0.1);
  }
/*Career Page CSS- Arathy */ 
/* Source: https://www.youtube.com/watch?v=FXznI0wVZ-8*/
/*width of the image icon in career page*/
.png 
{
    width: 40%;   
}
/*adding properties to contents in career page to make it more aesthetic*/
.contentcareer{
    width: 62%;
    position: absolute;
    top: 60%;
    left: 35%;
    /*enables transformation of text*/
    transform: translateY(-50%);
    text-align: center;
    color: rgb(20, 19, 19);
  }
  
  .title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 120px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    overflow: hidden;
  }
  
  .content p{
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;
  }
  /*Adds Button property for Apply now option in Career page*/
  button{
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid rgb(23, 68, 5);
    border-radius: 20px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, #f7abf7 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
  }
  
  button:hover{
    background-position: left;
  }

  /*form career page CSS*/
  /*Source: https://www.w3schools.com/css/css_form.asp*/
  /*Arathy*/
  input[type=text], select 
  {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #6a9dfc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #351cc5;
  }
  /*Responsive Gallery*/
  /* Source: https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery */
  /*Arathy*/
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }



/*  ---------------------------FOOTER SECTION Starts Here ---------------------------------*/

.footer-content{
    background-color: #5f636d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
    bottom: 50px;
    margin-bottom: 50px;
}
.footer-content h1{
    color:  black;
	text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.footer-content h2{
  color:  black;
  text-align: center;
  font-size: 13px;
}  

.footer-bottom-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}
.footer-bottom-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}

.footer-bottom-text p a{
    color: #e53637;
}

/*  social media icon placement and hover effects inside footer section */
.socialicon{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socialicon li{
    margin: 0 10px;
}

.socialicon a{
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 50%;
}

.socialicon a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socialicon a:hover i{
	transform: translateY(-10px);
    color: aqua;
}

	
/*  ---------------------------FOOTER SECTION Ends ---------------------------------*/

  
/*Services Page CSS - Allison*/
/*Reference:https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

/*Displays name of page at the top*/
.ServicesHead {
    background-color: mintcream;
    color: black;
    margin-top: 50px;
}
/*add color, border and style to the display name*/
.services {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(189, 247, 218);
}

/*adjusts figures to 50%*/
figure {
  width: auto ;
  max-width: 50% ;
  height: auto ;
}

/*ABOUT PAGE - Allison*/
/*Reference:https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

/*page name at top*/
.AboutHead {
    background-color: mintcream;
    color: black;
    margin-top: 50px;   
}

/*style, border and color to name at top*/
.about {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(189, 247, 218);
}
/*MEET THE TEAM on about page*/
/*Reference:https://www.w3schools.com/howto/howto_css_team.asp*/
/*members aligned verticle down the left side*/   
.columnteam {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
/*makes it responsive*/
@media screen and (max-width: 650px) {
  .columnteam {
    width: 100%;
    display: block;
  }
}

.cardteam {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.containerteam {
  padding: 0 16px;
}
/*aligns the members down the page*/
.containerteam::after, .rowteam::after {
  content: "";
  clear: both;
  display: table;
}


.titleteam {
  color: grey;
}

.buttonteam {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: Black;
  background-color: rgb(189, 247, 218);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonteam:hover {
  background-color: #555;
}

/* Projects page css - Mansi*/
/*css for test written*/
.projects, .projects1 {
  text-align: center;
  list-style-type: none;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(189, 247, 218);
}
/*css for images*/
.project-img {
  width: 50%;
}  
/*END OF ABOUT SECTION*/

/* FAQ SECTION-Client*/
.layout {
  width: 1000px;
  margin: auto;
}

summary {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #E8CDA1;
  border-radius: 10px;
  }
details > summary::after {
  
  right: 20px;
}
details[open] > summary::after {
  
 right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
  
}
                                    /* Testimonial - Client*/
/*Reference center header https://css-tricks.com/centering-css-complete-guide/#horizontal-block -Allison*/
.faqheader{
	margin: 0 auto;
	text-align: center;
}

.wrapper{
  max-width: 1200px;
  margin-top: auto;
  
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  margin-bottom: 50px;
}
.wrapper .box:hover {
  
    box-shadow: 0 0 3px #515151;
    ;
  
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #17a2b8;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #17a2b8;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}
@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}

/* contact us page*/
.wrapper {
  width: 100%;
}


.wrapper .social_media {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.wrapper .social_media .contactcontain {
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .social_media .contactcontain .contactbox {
  width: 310px;
  display: flex;
  justify-content: center;
}

.wrapper .social_media .contactcontain .icon_box {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #247cff;
  border-radius: 50px;
  margin-right: 10px;
}

.wrapper .social_media .contactcontain .icon_box .fa {
  color: #f4f4f4;
}

.wrapper .social_media .contactcontain .text_box h2 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #247cff;
  padding-bottom: 10px;
}

.wrapper .form_controll {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper .form_controll .contactcontain {
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form_box {
  width: 100%;
  padding: 40px;
  background-color: #f4f4f4;
}

.wrapper .form_box .name_email {
  width: 100%;
  height: 55px;
}

.wrapper .form_box .name_email .name,
.wrapper .form_box .name_email .email,
.wrapper .form_box .phone_subject .phone,
.wrapper .form_box .phone_subject .subject {
  width: 47%;
  height: 44px;
  padding-left: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  outline: none;
  background: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.wrapper .form_box .message .textarea {
  width: 97%;
  height: 250px;
  margin-top: 10px;
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  outline: none;
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

button {
  padding: 12px 30px;
  border: none;
  background: #247cff;
  color: #ffffff;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 18px;
  ;
}


  
